*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background: linear-gradient(to bottom, #2E9AFE, #02315f) no-repeat;
}
.header{
    width: 100%;
    color: white;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
    background: linear-gradient(to bottom, #2E9AFE, #02315f) no-repeat;
    
}
.header-left{
    width:900px;
    display: flex;
}
.logo-header img{
    height: 100px;
}
.title-header{
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 3px;
    margin-left: 15px;
}
.title-header span{
    float: left;
    font-style: italic;
    font-size: 35px;
    text-shadow: 0 0 5px black;
}
.title-header p {
    text-shadow: 0 0 3px black;
}
.title-header p i{
    font-weight: bold;
    color: yellow;
    font-size: 35px;
    text-shadow: 0 0 3px #FF0000;
}

.search{ 
    width:220px;
    margin-top: 60px;
    display: flex;
}
.search-input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:none;
}
.search i{
    font-size: 20px;
    margin-top: 9px;
    margin-left: -25px;
    color: black;
}
.body{
    width: 100%;
    height: auto;
    padding: 0px 150px 10px 150px;
}
.contain{
    border: 1px solid #F2F2F2;
    border-radius: 0 0 10px 10px;
    padding: 5px 10px;
    margin: 10px;
    height: auto;
    background: linear-gradient(to bottom, #E6E6E6, #81DAF5); 
}
.navbar{
    width: 100%;
    padding:5px 0;
    border-bottom: 1px solid #F2F2F2;
    background-color: white;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.navbar ul li{
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to bottom, #2E9AFE, #02315f);
    border-left: 1px solid black;
    padding: 10px;
    font-size: 18px;
    font-weight:100;
    margin: 0 10px;
    border: 1px solid white;
    border-radius: 10px;
}
.item a{
    text-decoration: none;
    color: white;
}
#home-page{
    background-image: linear-gradient(to bottom, #0a99c5, #1269B5);
}
.item:hover{
    background-image: linear-gradient(to bottom, #25beed, #0563ba);
    font-weight:600;
}

.sidebar{
    width: 370px;
    padding: 5px 10px 10px 10px;
    background-color: white;
    margin-top: 5px;
}
.sidebar-item{
    height: auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px 10px 0 0 ;
    margin-top: 10px;
}
.title-sidebar{
    text-align: center;
    padding: 10px;
    background-color: #1269B5;
    border-radius: 10px 10px 0 0;
}
.title-sidebar span{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.sidebar-content{
    padding: 10px;
}
.sidebar-content ul{
    list-style: none;
}
.item-sidebar{
   margin: 10px 0;
}
.item-sidebar a{
    text-decoration: none;
    color: #1269B5;
    font-size: 16px;
}
.item-sidebar a i{
    margin-right: 5px;
}
.container-fluid{
    background: linear-gradient(to bottom, #2E9AFE, #02315f) no-repeat;
    height: 580px;
}
.content{
    width: 100%;
    padding: 15px;
    background-color: white;
    margin-top: 5px;
    margin-left: 10px;
}

button{
     padding: 10px;
     font-size: 16px;
     border:1px solid white;
     border-radius:5px;
     background: linear-gradient(to bottom, #2E9AFE, #02315f) no-repeat;
 }

button a{
     text-decoration: none;
     color:white;
 }
 .table{
    width: 100%;
    text-align:center;
    background-color: white;
}
#sidebar {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  border-right: 2px solid #eee;
  background: linear-gradient(to bottom, #2E9AFE, #02315f) no-repeat;
}
#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}


#sidebar header a:hover {
  color: #fff;
}
#sidebar .nav a{
  background: none;

  color: white;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}

.form{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
}
.form p{
    font-weight: bold;
}
.form input{
   margin-left: 20px;
   width: 60%;
}

.form select{
    margin-left: 74px;
 }
#cke_editor{
    margin: 20px 0 20px 20px;
}
.title-post{
    padding: 10px;
    background-color:rgba(223, 241, 251, 0.5);
    border-bottom: 1px dotted #9CAFC4;
    margin:0 -10px;
}
.title-post a{
    text-decoration: none;
    color: #1269B5;
    font-size: 16px;
}
.content-post a{
    text-decoration: none;
}
.content-post table{
    border: 1px solid black;
    width: 100%;
}
table, th, td {
    border: 1px solid;
  }
.list-new-post a{
    text-decoration: none;
    color: #1269B5;
}
.list-new-post a i{
    margin-right: 4px;
}
.item-new-post{
    margin: 3px 0;
}
.sidebar-new-post{
    padding: 4px;
}
.list-new-post{
    list-style: none;
}
.post{
    padding: 10px;
    background-color: white;
    margin-top: 10px;
}
.col-xs-9{
    width: 75%;
    margin-left: 300px;
}
.header-admin{
    width: 100%;
    color: white;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #2E9AFE, #02315f) no-repeat;
}
.header-left-admin{
    margin-left: 321px;
    display: flex;
}
th{
    text-align: center;
}
*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
}


.text-homepage{
	border:1px solid white;	
	padding: 8px;
	border-radius: 10px;
	background-color: #FAFAFA;
	text-decoration: none;
	font-weight: 600;
	color: #5882FA;
	letter-spacing: 1px;
}
.text-homepage:hover
{
    text-decoration: none;
    color: #2ECCFA;
}
.main-form{
	margin-top: 50px;
}

.main{
	background-image: url("../img/1200px-Logo_Dai_hoc_Can_Tho.svg.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size: contain;
	background-color:#E0ECF8; 
}
#footer{
	text-align: center;
	margin-top: 230px;
	font-size: 15px;
	color: black;
	background-color: #E0ECF8;
}

/* client motel */
.motel-content{
    width: 100%;
    padding: 15px;
    background-color: #F2F2F2;
    margin-top: 5px;
}
.motel-fillter{
    padding: 10px;
    background-color: #febb02;
    display: flex;
    border-radius: 10px;

}
.wards-fillter{
    margin:0 40px;
}
.motel-fillter select{
    width: 200px;
    border-radius: 20px;
    font-size: 15px;
    padding: 5px;
    color:#777;
}
.motel-content-left{
    width: 70%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #dedede;
}
.motel-img{
    height: 150px;
    width: 150px;
    border-radius: 6px;
}
.motel-content-post{
    margin-top: 20px;
    display: flex;
}
.motel-post{
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
.motel-info{
   width: 700px;
   margin-left: 20px;
   font-size: 17px;
}
.motel-info_cost-address{
    display: flex;
    margin: 10px 0;
}
.motel-cost{
    margin-right: 20px;
    color:#16c784;
    font-weight: bold;
}
.title-link{
    text-decoration: none;
    color: #055699;
    font-size: 18px;
}
.motel-description{
    font-size: 16px;
    height: 18px;
    width: 500px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    color: #777;
}
.user-post-img{
    margin-top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.user-post-info{
    display: flex;
}
.user-post-info_name{
    display: flex;
    align-items: center;
    color: #777;

}
.user-post-name{
    margin:0 10px;
}

.motel-content-right{
    width: 30%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #dedede;
    margin-left: 20px;
}
.motel-img-new-post{
    height: 100px;
    width: 100px;
    border-radius: 6px;
}
.header-new-post{
    font-size: 18px;
    margin: 10px 0 20px 0;
    text-align: center;
}
.motel-post-new{
    display: flex;
    margin-bottom: 10px;
}
.motel-post-info-new{
    margin-left: 10px;
}
.motel-title-new-post{
    text-decoration: none;
    font-size: 17px;
    color: #055699;
}
.motel-title-new-post h4{
    font-size: 15px;
}
.cost-time-post{
    display: flex;
    margin-top: 15px;
    font-size: 15px;
}
.motel-cost-new{
    margin-right: 15px;
    color:#16c784;
    font-weight: bold;
}
.not-motel{
    text-align: center;
    font-size: 20px;
    color: #777;
    width: 100%;
}
.the-post .page-h1 {
    font-size: 1.6rem;
}
.page-h1 {
    font-size: 1.6rem;
    line-height: 1.2;
    margin: 0 0 5px;
}
.title_detail_motel{
    text-decoration: none;
    color: #055699;
}
.the-post .star.star-5 {
    width: 100px;
    height: 23px;
}
.the-post .star {
    background-size: 20px 20px;
    width: 20px;
    height: 23px;
}
.star.star-5 {
    width: 70px;
    height: 17px;
}
.star {
    width: 14px;
    height: 17px;
    background: url(https://phongtro123.com/images/mobile/star2.png) left center repeat-x;
    background-size: 14px 14px;
    display: inline-block;
    margin-right: 3px;
    margin-top: 5px;
}
.the-post .post-address {
    margin: 0 0 10px;
    display: flex;
    align-items: center;
}
address {
    font-style: normal;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-size: 17px;
}
address i {
    margin-right: 10px;
    color:#25beed;
}
.item-price i{
    color:green;
    margin-right: 10px;
}
.price-clock{
    display: flex;
    align-items: center;
}
.item-published{
    margin-left: 60px;
    color: #777;
}
.item-published i{
    margin-right: 5px;
    color: #777;
}
.post-main-content{
    margin-top: 20px;
    font-size: 17px;
}
.studyplan-content{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    background-color: #F2F2F2;
    padding: 10px 0px;
}
.table-Khoa-Major{
    width: 50%;
    margin: 0 10px;
    background-color: white;
    border: 1px solid black;
}
.table-Khoa-Major h4{
   text-align: center;
    font-size: 18px;
    color: white;
    padding: 6px;
    background-color: #0a99c5;
}
.list-name{
    list-style: none;
    margin: 7px 0;
    margin-left: 10px;
}
.list-name a{
    text-decoration: none;
    color: rgb(78, 78, 78);
    font-size: 16px;
}
.list-name a:hover{
    color: #0a99c5;
}
.table-studyplan h4{
    text-align: center;
    font-size: 15px;
    background-color: #1673c5;
    color:white;
    padding: 7px 0;
}
.table-studyplan{
    border-top: 1px solid black;
    height: 250px;
    overflow: scroll;
}
.table-studyplan tr td{
    border: none;
}
.table-studyplan th{
    background-color: #43a2f6;
    color: white;
    font-size: 15px;
}
.table-bordered{
    height: 30px;
    overflow: scroll;
    border-top: 1px solid black;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
  }
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #03744b;
    color: white;
  }
  .select2-container {
    min-width: 400px;
  }
  
  .select2-results__option {
    padding-right: 20px;
    vertical-align: middle;
  }
  .select2-results__option:before {
    content: "";
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border: 2px solid #e9e9e9;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 20px;
    vertical-align: middle;
  }
  .select2-results__option[aria-selected=true]:before {
    font-family:fontAwesome;
    content: "\f00c";
    color: #fff;
    background-color: #f77750;
    border: 0;
    display: inline-block;
    padding-left: 3px;
  }
  .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff;
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eaeaeb;
    color: #272727;
  }
  .select2-container--default .select2-selection--multiple {
    margin-bottom: 10px;
  }
  .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 4px;
  }
  .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #f77750;
    border-width: 2px;
  }
  .select2-container--default .select2-selection--multiple {
    border-width: 2px;
  }
  .select2-container--open .select2-dropdown--below {
    
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  
  }
  .select2-selection .select2-selection--multiple:after {
    content: 'hhghgh';
  }
  /* select with icons badges single*/
  .select-icon .select2-selection__placeholder .badge {
    display: none;
  }
  .select-icon .placeholder {
    display: none;
  }
  .select-icon .select2-results__option:before,
  .select-icon .select2-results__option[aria-selected=true]:before {
    display: none !important;
    /* content: "" !important; */
  }
  .select-icon  .select2-search--dropdown {
    display: none;
  }

